# UI тесты
# Воткнула в фикстуру credentials в tests/ui/conftest.py
SPOTIFY_USERNAME=your_login@gmail.com
SPOTIFY_PASSWORD=your_password
SPOTIFY_EXPECTED_NAME=Alisha

# API тесты
# ВАЖНО: Токен живет 1 час!!!
SPOTIFY_API_TOKEN=BQC...
SPOTIFY_USER_ID=your_spotify_user_id_...
SPOTIFY_DISPLAY_NAME=YOR NAME FROM POSTMAN RESPONSE

# Selenoid
SELENOID_URL=https://selenoid.autotests.cloud/wd/hub
SELENOID_LOGIN=your_selenoid_login
SELENOID_PASS=your_selenoid_password